.cart-number {
  padding: 10px 0;
  font-weight: bold;
  font-size: large;
}

a {
  color: #000000;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #4682B4;
}

input {
  width: 75px;
}

