.card {
  border-radius: 5px;
}

.quantity {
  padding: 20px 0;
}

.description {
  background-color: antiquewhite;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.description:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
