$styleVersion: 3.0;
$skipComponentStyles: (cx-searchbox);

@import "~@spartacus/styles/index";

:root {
  --cx-color-primary: #F09D51;
  --cx-color-secondary: #f7f7f7;
  --cx-color-dark: #000;
}

header .SiteContext:after {
  display: none;
}

cx-media img {
  border-radius: 5px;
}

.searchbox {
  background: transparent;
  border: 3px solid #F09D51;
  border-radius: 5px;
  width: 250px;

  @media (max-width: 575.98px) {
    width: 150px;
  }
}

header .SearchBox {
  @media (max-width: 575.98px) {
    margin-inline-start: 20px;
  }
}

.searchbox input {
  @media (max-width: 575.98px) {
    width: 110px;
  }
}

.searchbox cx-icon {
  padding-left: 7%;
}

cx-icon.reset {
  display: none;
}

cx-mini-cart a {
  @media (max-width: 575.98px) {
    width: 47px;
    height: 50px;
    min-width: 47px;
  }
}


cx-breadcrumb nav span {
  color: #4682B4;
}
